<!-- <div class="center-container">
    <mat-card class="center-card">
        <mat-card-title>Delete User</mat-card-title>
        <mat-card-content>
           <p>Are you sure want to delete this user ?</p>
           <div class="centered-button">
            <button type="submit" class="bold-button" (click)="cancel()">Cancel</button>
           </div>
           <div class="centered-button">
            <button type="submit" class="bold-button" (click)="deleteUser()" >Delete User</button>
        </div>
        </mat-card-content>
    </mat-card>
</div> -->

<!-- <div class="center-container">
    <mat-card class="center-card">
        <mat-card-title class="card-title">Delete User</mat-card-title>
        <mat-card-content>
            <p class="confirmation-message">Are you sure you want to delete this user?</p>
            <div class="button-container">
                <button class="cancel-button" (click)="cancel()">Cancel</button>
                <button class="delete-button" (click)="deleteUser()">Delete User</button>
            </div>
        </mat-card-content>
    </mat-card>
</div> -->

<div class="center-container">
    <mat-card class="center-card">
        <mat-card-title class="card-title">Delete User</mat-card-title>
        <mat-card-content>
            <p class="confirmation-message">Are you sure you want to delete this user?</p>
            <div class="button-container">
                <button class="cancel-button" (click)="cancel()">Cancel</button>
                <button class="delete-button mr-6" (click)="deleteUser()">Delete User</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
